@page
@model Frizerie.Pages.Servicii.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Serviciu</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Serviciu.Tip_Serviciu)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Serviciu.Tip_Serviciu)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Serviciu.Barber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Serviciu.Barber.ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Serviciu.Cost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Serviciu.Cost)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Serviciu.Data_Programare)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Serviciu.Data_Programare)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Serviciu.BarberShop)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Serviciu.BarberShop.ID)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Serviciu.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
